@import './partials/fonts';
@import './vendors/bs-x5/bootstrap';
@import './partials/base';



.site-logo {
    width: 170px;
}


.main-navbar {
    margin: 1rem 0;

    .navbar-nav {
        display: flex;
        justify-content: center;
        flex: 1;

        li {
            &:not(:last-child) {
                margin-right: 1rem;
            }

            a {
                font-weight: 500;
                font-size: calc(.7rem + .2vw)
            }
        }
    }

    .Login-button {
        display: flex;
        align-items: center;
        font-size: calc(.6rem + .2vw);

        i {
            margin-left: 1rem;
            font-size: calc(1rem + .2vw);
            line-height: 2rem;
        }
    }
}

.discount-strip {
    padding: .5rem 0;
    background-color: $primary-color;
    display: flex;
    justify-content: center;

    p {
        font-size: calc(.8rem + .2vw);
        font-weight: 600;
        position: relative;

        &::before {
            font-family: 'icomoon';
            content: "\e910";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            padding-right: 2.5rem;


        }

        &::after {
            font-family: 'icomoon';
            content: "\e910";
            position: absolute;
            left: 100%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding-left: 2.5rem;


        }
    }
}



.main-dashboard {
    height: 100%;
    width: 100%;
    display: flex;



    .aside-section {
        background-color: $white-color;
        width: 250px;
        min-height: 100%;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .aside-tabs {
            margin-bottom: 2rem;
        }

        ul {
            display: flex;
            flex-direction: column;

            li {
                display: flex;
                flex-direction: column;

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }

                button {
                    display: flex;
                    align-items: center;
                    color: grey;
                    font-weight: 600;
                    font-size: calc(.8rem + .2vw);
                    margin: 0 1rem;

                    i {
                        margin-right: 1rem;
                        font-weight: bold;
                    }

                }

                .logout-button {
                    display: flex;
                    align-items: center;
                    color: grey;
                    font-weight: 600;
                    font-size: calc(.8rem + .2vw);
                    margin: 0 1rem;

                    i {
                        margin-right: 1rem;
                        font-weight: bold;
                    }
 
                }
            }

        }

        .referral-code {
            margin: 0 2rem;

            .loyalty-points {
                margin-bottom: 1rem;
                background-color: $tertiary-color;
                text-align: center;
                font-weight: 600;
                color: grey;
                padding: .5rem 0;
                border-radius: 5px;
            }

            .ref-code {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                background-color: $black-color;
                color: $white-color;
                padding: 2rem 0;
                border-radius: 10px;

                p {
                    font-size: calc(.5rem + .2vw);
                }

                b {
                    font-size: calc(1rem + .2vw);
                    font-weight: 500;
                }
            }
        }
    }
    .dashboard-content {
        background-color: $secondary-color;
        padding: 2rem 0;
        flex: 1;  
        min-height: 100%;
        padding-left: 2rem;
        padding-right: $dashboard-width;
    
    }


}

.order-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    .name {
        p {
            font-size: calc(.7rem + .2vw);
            font-weight: 500;
        }

        b {
            font-size: calc(1.25rem + .2vw);
        }
    }

    .new-order {
        display: flex;
        align-items: center;
        line-height: 2rem;
        font-size: calc(.8rem + .2vw);

        i {
            margin-left: 1rem;
        }
    }
}


.content-info {
    .row [class^="col-"] {
        margin-bottom: 3rem;

    }
}





.col-content-inner {
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .content {
        b {
            font-weight: 600;
            font-size: calc(3rem + .2vw);
        }

        p {
            font-weight: 500;
            font-size: calc(1rem + .2vw);
        }
    }
}
















footer{
    background-color: $tertiary-color;
}

.main-footer {
    padding: 4rem 0;
}


.footer-inner {
    .col-inner {
        b{
            color: $text-color;
            font-weight: 600;
        }
        .footer-logo {
            margin-bottom: 2rem;
        }

    }
}

.social-media-icons {
    display: flex;

    li {
        &:not(:last-child) {
            margin-right: 1rem;
        }

        a {
            color: $black-color;

            i {
                font-size: 2rem;
            }
        }

    }
}

.footer-links {
    color: $text-color;
    a{
        color: $text-color;
    }
    li {
        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        a{
            font-size: calc(.6rem + .2vw);
            font-weight: 500;
        }

    }
}

.col-inner {
    .subscribe-input {
        position: relative;
        margin-top: 1rem;
        input {
            width: 100%;
            height: 3rem;
            border-radius: 30px;
            padding-right: 8rem;
            padding-left: 1rem;
            border: 1px solid $black-color;
        }

        .subscribe-button {
            position: absolute;
            top: 50%;
            right: 0;
            margin-right: .25rem;
            transform: translate(0,-50%);
            height: 2.5rem;
            border: 0;

            &:hover{
                background-color: $primary-color;
                color: $black-color;
            }

        }

    }


}


.copyright-inner{
    border-top: 1px solid $text-color;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    
    .copyright-info{
        color: $text-color;
        font-weight: 500;
    }

    .payment-links{
        display: flex;
        li{
            &:not(:last-child){
                margin-right: 1rem;
            }
            a{
                color: $black-color;
                i{
                    font-size: 2rem;
                }
            }
        }
    }
}


@import './partials/mediaqueries';