$primary-color: #a7f432;
$secondary-color: #f7f9fe;
$footer-color: #f7f9fe;

$black-color: #000000;
$white-color: #ffffff;



body{
    overflow: hidden;
    overflow-y: auto;
    font-family: "Poppins", serif;
}


h1, h2, h3, h4, p, ul, figure{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}


.theme-button{
    color: $white-color;
    background-color: $black-color;
    padding: .25rem 1rem;
    border-radius: 20px;
}




 
.aside-section .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: $black-color;
    background-color: $primary-color;
}