@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4aljfv');
  src:  url('fonts/icomoon.eot?4aljfv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4aljfv') format('truetype'),
    url('fonts/icomoon.woff?4aljfv') format('woff'),
    url('fonts/icomoon.svg?4aljfv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account-settings:before {
  content: "\e900";
}
.icon-apple-pay-icon:before {
  content: "\e901";
}
.icon-discount-history-icon:before {
  content: "\e902";
}
.icon-facebook-sketch-icon:before {
  content: "\e903";
}
.icon-google-pay-icon:before {
  content: "\e904";
}
.icon-instagram-icon:before {
  content: "\e905";
}
.icon-instagram-icon-2:before {
  content: "\e906";
}
.icon-linkedin-icon:before {
  content: "\e907";
}
.icon-login-icon:before {
  content: "\e908";
}
.icon-logout-icon:before {
  content: "\e909";
}
.icon-loyalty-history-icon:before {
  content: "\e90a";
}
.icon-mastercard-icon:before {
  content: "\e90b";
}
.icon-my-orders-icon:before {
  content: "\e90c";
}
.icon-payment-cards-icon:before {
  content: "\e90d";
}
.icon-place-new-order-icon:before {
  content: "\e90e";
}
.icon-snapchat-icon:before {
  content: "\e90f";
}
.icon-star-icon:before {
  content: "\e910";
}
.icon-tiktok-icon:before {
  content: "\e911";
}
.icon-twitter-icon:before {
  content: "\e912";
}
.icon-visa-icon:before {
  content: "\e913";
}
