@media (max-width: 1400px){
    .dashboard-content{
        padding-right: 0!important;
        padding: 2rem!important;
    
    }
}


@media (max-width: 991px){


    .main-navbar{
        .Login-button{
            display: inline-block!important;
            i{
                display: none;
            }
        }
    }


    .main-dashboard{
        flex-direction: column;
        .aside-section{
            width: 100%;
        }
    }

    .footer-inner{
        .row [class^="col-"] {
            &:not(:last-child){
                margin-bottom: 1.5rem;
            }
    
        }
    }
}


@media (max-width: 576px){
    .site-logo{
        width: 120px;
    }
 
}